<footer class="page-footer font-small indigo" style="background-color: gainsboro">
    <div class="container text-center text-md-left">
        <div class="row">
        <div class="col-md-3 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
            <ul class="list-unstyled">
            <li>
                <a href="#!">Very long link 1</a>
            </li>
            <li>
                <a href="#!">Very long link 2</a>
            </li>
            </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
            <ul class="list-unstyled">
            <li>
                <a href="#!">Link 1</a>
            </li>
            <li>
                <a href="#!">Link 2</a>
            </li>
            </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
            <ul class="list-unstyled">
            <li>
                <a href="#!">Link 1</a>
            </li>
            <li>
                <a href="#!">Link 2</a>
            </li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://locallhost:3000/"> locallhost:3000</a>
    </div>
</footer>