<footer class="page-footer font-small indigo" style="background-color: gainsboro">
    <div class="container text-center text-md-left" style="padding: 70px">
        <h6 style="text-align: center">⊗⊝ Dr Online ⊘⊕</h6>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://locallhost:3500/"> locallhost:3500</a>
    </div>
    </div>
</footer>