<div class='nav' >
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:1500px; padding-left: 50px; height: 70px;">
            <a class="navbar-brand" style="color: black; font-weight: bold; font-size: 28px">Drugs Online</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link" style="color: green"href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" style="color: green"href="#">Untuk Mvp</a>
            </div>
            <div class="toright" style="padding-right: 300px ">
                <a class="nav-item nav-link" style="color: green"href="#" tabindex="-1" aria-disabled="true">Logout</a>
            </div>
            </div>
            </nav>
        </div> 
    <div>