<div class='nav' >
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:1500px; padding-left: 50px; height: 70px;">
        <a class="navbar-brand" style="color: black; font-weight: bold; font-size: 28px">Dr Online</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" style="color: green"href="/user">User List</a>
            <a class="nav-item nav-link" style="color: green"href="/drug">Drugs List</a>
            <div style="margin-left:940px">
            <a class="nav-item nav-link" style="color: green"href="/login/logout" tabindex="-1" aria-disabled="true">Logout</a>
            </div>
            </div>
        </div>
        </nav>
    </div> 
<div>